# Database
MARIADB_ROOT_PASSWORD=your_root_password
MARIADB_DATABASE=drupal
MARIADB_USER=drupal
MARIADB_PASSWORD=your_db_password

# Drupal
DRUPAL_DB_HOST=mariadb
DRUPAL_DB_PORT=3306
DRUPAL_DB_NAME=drupal
DRUPAL_DB_USER=drupal
DRUPAL_DB_PASSWORD=your_db_password
DRUPAL_HASH_SALT=generate-a-random-hash-salt
DRUPAL_ENV=development
